body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: #0a1f44;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/FONDO-WEB.png");
    background-size: cover;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }
  .menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    color: #0a1f44;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #E5E5E5;
    font-size: 1.6em;
    font-weight: 700;
  }
  nav ul li a:hover {
    background-color: #d4d4d4;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    height: calc(100vh - 120px);
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 380px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
.card h2 {
    font-size: 1.6em;
    margin-top: 0;
    text-align: center;
}
.card p {
    font-size: 1em;
    line-height: 1.5;
}
.card-footer {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
}
.button {
    display: block;
    padding: 8px 16px;
    background-color: #0b1e3d;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 10px auto 0;
    width: 80px;
}
  footer {
    font-size: 1.3em;
    padding: 20px 0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin-top: auto;
    position: sticky;
    bottom: 0;
  }
  footer p {
    flex: 1;
    text-align: center;
  }
  footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  @media (max-width: 1100px) {
    nav {
        justify-content: space-between;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        padding: 15px 30px;
        border-radius: 0;
        background-color: transparent;
        color: white;
    }
    .card-footer {
       position: sticky;
    }
    .menu-icon {
        display: block;
    }
    .show-menu {
        display: flex !important;
    }
    .content {
        flex-direction: column;
        text-align: center;
    }
    .text-content {
        max-width: 100%;
        text-align: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .card {
        width: 90%;
        margin: 10px 0;
    }
  }